@import url(products-section.css);
@import url(product-image.css);
@import url(quantity-buttons.css);
@import url(product-details.css);
@import url(cart.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

:root {
  --clr-rose: hsl(14, 86%, 42%);
  --clr-green: hsl(159, 69%, 38%);

  --clr-rose-100: hsl(20, 50%, 98%);
  --clr-rose-200: hsl(13, 31%, 94%);
  --clr-rose-300: hsl(14, 25%, 72%);
  --clr-rose-400: hsl(7, 20%, 60%);
  --clr-rose-500: hsl(12, 20%, 44%);
  --clr-rose-600: hsl(14, 65%, 9%);

  --ff-rht: 'Red Hat Text', sans-serif;
  --fs-product-name: 1rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --ff-body: var(--ff-rht);

  --d: solid 1px red;
}

/* utilities */
.fl-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;

  font-family: var(--ff-body);
  color: var(--clr-rose-600);
  background-color: var(--clr-rose-200);
}

main {
  flex-direction: column;
  gap: 2rem;
  width: min(100% - 2.5rem, 96rem);
  margin-inline: auto;
  margin-block: 2rem;
}

main > * {
  width: 100%;
}

@media screen and (min-width: 48rem) {
  main {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-block: 4rem;
  }

  main aside.cart {
    align-self: flex-start;
  }
}
