main header {
  position: relative;
  flex-direction: column;
  gap: 0.6rem;
}

main header h1 {
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  color: var(--clr-neutral-600);
  /* color: var(--clr-neutral-100); */
}

main header .paragraph {
  flex-direction: column;
  gap: 0.4rem;
}

main header .paragraph p {
  font-size: 0.8rem;
  color: var(--clr-neutral-500);
}

main header .bg-pattern-circles {
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 43.75rem) {
  main header h1 {
    font-size: 1.76rem;
  }
  main header .paragraph {
    flex-direction: row;
  }
  main header .paragraph p {
    font-size: 0.92rem;
  }
}
