/* toggle billing */

main .component .pricing-form .pricing-container .toggle-billing-container {
  gap: 0.5rem;
  font-size: 0.8rem;
  text-transform: capitalize;
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  .yearly {
  position: relative;
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  .yearly
  span {
  position: relative;
  font-size: 0.7rem;
  color: var(--clr-primary-200);
  margin-left: 0.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: var(--clr-primary-100);
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  #toggleBill {
  position: relative;
  width: 2.5rem;
  height: 1.3rem;
  border-radius: 1rem;
  background-color: var(--clr-neutral-400);
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  #toggleBill:hover {
  background-color: var(--clr-primary-400);
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  #toggleBill
  .circle {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-100);
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  #toggleBill.toggle-yearly {
  background-color: var(--clr-primary-500);
}

main
  .component
  .pricing-form
  .pricing-container
  .toggle-billing-container
  #toggleBill.toggle-yearly
  .circle {
  right: 0.2rem;
  left: auto;
}

@media screen and (min-width: 43.75rem) {
  main .component .pricing-form .pricing-container .toggle-billing-container {
    gap: 1rem;
  }

  main
    .component
    .pricing-form
    .pricing-container
    .toggle-billing-container
    .yearly
    span {
    display: none;
  }

  main
    .component
    .pricing-form
    .pricing-container
    .toggle-billing-container
    .yearly::after {
    content: '25% discount';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
    font-size: 0.7rem;
    font-weight: var(--fw-800);
    color: var(--clr-primary-200);
    text-transform: lowercase;
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    background-color: var(--clr-primary-100);
  }
}
